Terraform/.terraform/
Terraform/.terraform.lock.hcl
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
Terraform/*.tfvars
postgres/
./terraform/*
*.tfvars
**./terraform/*
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json
.env
*.pdf
